.flex{
    display: flex;
    justify-content: space-around;
}
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    color: white;
    overflow-x: hidden;
}
header{
    border-style: solid;
    margin-left: 20%;
}
.content{
    margin-left: 20%;
    padding-left: 5%;
    padding-right: 5%;
}
img{
    padding-top: 20%;
    margin: 16%;
}
.sidetext{
    margin-left:16%;
    margin-right:16%;
}
.upperlinks{
    text-align: right;
    padding-right: 5%;
}
h4{
    text-align: right;
    padding-right: 5%;
}
footer{
    border-style: solid;
    margin-left: 20%;
    padding-left: 5%;
}