.flex{
    display: flex;
    justify-content: space-around;
}
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    color: white;
    overflow-x: hidden;
}
header{
    border-style: solid;
    margin-left: 20%;
    background-color: rgb(224, 223, 223);
}
.upperlinks{
    text-align: right;
    padding-right: 1%;
}
a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 1%;
}

a:hover, a:active {
    background-color: grey;
}
.content{
    margin-left: 20%;
    padding-left: 5%;
    padding-right: 5%;
}
h1{
    text-align: center;
    font-size: xx-large;
}
h4{
    text-align: right;
    padding-right: 1%;
}
img{
    padding-top: 5%;
    margin: 16%;
}
.sidetext{
    margin-left:16%;
    margin-right:16%;
}

footer{
    border-style: solid;
    margin-left: 20%;
    padding-left: 5%;
    padding-bottom: 1%;
}